@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: hsl(210, 46%, 95%);
  font-size: 10px;
}
